node_modules
.pnpm-store
.next
dist
coverage
.env
.env.local
backups/
*.dump
tsconfig.tsbuildinfo
uploads
.data
/storage
*.log
src/assets/project-models/troitsk-r25v5/
src/assets/project-models/troitsk-r25v8/
src/assets/project-models/troitsk-r25v8-ui1/
/src/assets/project-models/troitsk-r25v8-ui2/
src/assets/project-models/troitsk-r25v8-ui3/
